{%- set absoluteUrl = 'https://mxb.at/blog/using-webmentions-on-static-sites/' -%}
{%- set mentions = webmentions.children | webmentionsForUrl(absoluteUrl) -%}
<div class="webmentions" id="webmentions">
  <h3>Webmentions</h3>

  {% if mentions | length %}
    <div>
      {% for webmention in mentions | reverse | head(5) %}
        <img src="{% if webmention.author.photo %}{{ webmention.author.photo }}{% else %}{{ '/img/webmention-avatar-default.svg' | url }}{% endif %}" title="{{ webmention.author.name }}" alt=""/>
      {% endfor %}
      {% if mentions.length > 5 %}
        <span>+{{ mentions.length - 5 }}</span>
      {% endif %}
    </div>

    <ol>
      {% for webmention in mentions | reverse %}
        <li>
          {% include 'webmention.njk' %}
        </li>
      {% endfor %}
    </ol>

  {% else %}
    <p>No mentions yet.</p>
  {% endif %}
</div>